.biriyani-head{

    /* margin-top: 5%; */

background-color: white;
height:115vh;



  
}



.start-head{


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.start-head h2{

    font-weight: 500;
    font-size: 60px;

    color: #f54749;
    font-family: 'Fredoka One', cursive;
    font-family: 'Rancho', cursive;
    font-family: 'Titan One', cursive;
}

.start-head p{


    font-weight: 750;
    letter-spacing: 5px;
}

.imgoutline{


    display: flex;
    justify-content: center;
    align-items: center;
}

.bas{
/* font-size: 50px; */
    color: black;
    align-items: center;
    transition: 0.5s;

}
@media (min-width:200px) and (max-width:600px) {
    .start-head h2{


        font-size: 22px;
    }

    .start-head p{

        font-size: 12px;
        letter-spacing: 2px;

    }
.biriyani{
margin-top: 30%;
    height: 140vh;
}
}
@media (min-width:379px) and (max-width:420px) {

    .biriyani{
        margin-top: 30%;
            height: 175vh;
        }


}


@media (min-width:435px) and (max-width:750px) {

    .biriyani{
        margin-top: 30%;
            height: 160vh;
        }


}


@media (min-width:749px) and (max-width:768px) {
    .biriyani{
       
            height: 250vh;
        }


}



/* cards css code.................... */

