.chines{

    margin-top: 10%;
    height:115vh;
}
@media (min-width:200px) and (max-width:750px) {
.chines{
    height: 140vh; 

}}

@media (min-width:749px) and (max-width:768px) {
    .chines{
       
            height: 250vh;
        }


}
@media (min-width:450px) and (max-width:748px) {
    .chines{
       
            height: 160vh;
        }


}


@media (min-width:379px) and (max-width:400px) {

    .chines{
        margin-top: 30%;
        height: 190vh;
        }


}