.paneer-food{


    margin-top: 10%;
}


@media (min-width:749px) and (max-width:768px) {
    .paneer-food{
       
            height: 250vh;
        }


}
@media (min-width:450px) and (max-width:748px) {
    .paneer-food{
       
            height: 160vh;
        }


}

@media (min-width:379px) and (max-width:400px) {

    .paneer-food{
        margin-top: 30%;
        height: 165vh;
        }


}